<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Just document</title>
    <link rel="stylesheet" href="/Node.js/public/css/style.css">
</head>

<body>
    <% include blocks/header.ejs %>
        <h1>Это главная страница!</h1>
</body>

</html>