.Car {
  margin-bottom: 10px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: border, box-shadow 0.3s;
}

.input {
}

.input:active,
.input:focus {
  outline: none;
}

.input.green {
  border: 1px solid green;
}

.input.red {
  border: 1px solid red;
}

.input.bold {
  border: 2px solid green;
  font-weight: bold;
}
