* {
  margin: 0;
  padding: 0;
}

div {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-family: calibri;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  background: black;
  align-items: center;
}
