body {
  background: #ff0;
}
@media screen and (max-width: 500px) {
  body {
    background: url(./large-background.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}
h1 {
  color: red;
}
