.AppButton {
  padding: 8px 10px;
  border: 1px solid #ccc;
  font-weight: bold;
  text-transform: uppercase;
}

.AppButton:focus,
.AppButton:active {
  outline: none;
}

.AppButton:hover {
  background: #f0ff1e;
}
